.ui.image.slideshow.thumbnail  {
  transition: opacity .2s;
}

.ui.image.slideshow.thumbnail.deselected {
  opacity: 1;
}

.ui.image.slideshow.thumbnail:hover  {
  opacity: .8;
}

.ui.image.slideshow.thumbnail.selected {
  opacity: .5;
}

.slideshow.content {
  position: relative;
}

.slideshow.image {
  margin: auto;
}

.slideshow.desc {
  text-align: center;
  padding: 1em;
  font-size: 1em;
  max-width: 80%;
  margin: auto;
}
