.ui.image.slideshow.thumbnail {
  transition: opacity .2s;
}

.ui.image.thumbnail .image-loader-container.isLoading {
  width: 80px;
  height: 80px;
}

.ui.image.slideshow.thumbnail.deselected {
  opacity: 1;
}

.ui.image.slideshow.thumbnail:hover  {
  opacity: .8;
}

.ui.image.slideshow.thumbnail.selected {
  opacity: .5;
}

.slideshow.wrapper,
.slideshow.body,
.slideshow.content {
  position: relative;
}

.slideshow.image {
  margin: auto;
}

.slideshow.desc {
  text-align: center;
  padding: 1em;
  font-size: 1em;
  max-width: 80%;
  margin: auto;
}

.paging {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 25%;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.paging:hover {
  opacity: .5;
}

.paging.next {
  left: auto;
  right: 20px;
}
