body {
  background: #ddd;
}

.ui.image.thumbnail {
  vertical-align: top;
  display: inline-flex;
  align-items: center;
}

.ui.tiny.image,
.ui.tiny.images .image {
  overflow: hidden;
  display: inline-flex;
}

.ui.tiny .image img {
  flex: 1;
}

.work-content,
.projects-content {
  padding-bottom: 5em;
}

.ui.tiny.image.thumbnail,
.ui.tiny.images .image.thumbnail,
.ui.tiny.images img,
.ui.tiny.images svg {
  width: auto;
  height: 80px;
}

.ui.items > .item > .content > .header.itemHeader {
  margin: 1em 0 .5em;
}
